<footer class="fixed-bottom">
  <p>Toodleedoo was created by <a href="https://github.com/TYLER-JM">@TYLER-JM</a>, <a href="https://github.com/tammiec">@tammiec</a>, & <a href="https://github.com/jomicm">@jomicm</a>,  &#169; 2019</p>
</footer>
