<main class='main-landing'>

    <div class="landing-container">
      <div class="landing-content">
        <h1 class="landing-title">404</h1>
        <p class="lead">Page not found</p>
      </div>

    </div>

</main>
