<main class="main-page-container">

    <div class='container'>
      <div class="new-todo form-group">
        <!--new btn added-->
        <button id="clearAll" class="btn btn-submit">Clear All</button>

        <input id="inputTask" type="text" class="form-control" placeholder="What task do you need doing?" autofocus='true'>
        <button id="getCategoryBtn" class="btn btn-submit">Categorize!</button>
      </div>
    </div>

    <div class='card-deck'>
      <div class="card">
        <h5 class="card-header">To Watch</h5>
        <div class="card-body" ondrop="moveToDo(event)" ondragover="allowDrop(event)">
          <ul id='toWatch' class="list-group list-group-flush">
          </ul>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">To Read</h5>
        <div class="card-body" ondrop="moveToDo(event)" ondragover="allowDrop(event)">
          <ul id='toRead' class="list-group list-group-flush">
          </ul>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">To Eat</h5>
        <div class="card-body" ondrop="moveToDo(event)" ondragover="allowDrop(event)">
          <ul id='toEat' class="list-group list-group-flush">
          </ul>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">To Buy</h5>
        <div class="card-body" ondrop="moveToDo(event)" ondragover="allowDrop(event)">
          <ul id='toBuy' class="list-group list-group-flush">
          </ul>
        </div>
      </div>
      <div class="card">
          <h5 class="card-header">Miscellaneous</h5>
          <div class="card-body" ondrop="moveToDo(event)" ondragover="allowDrop(event)">
            <ul id='misc' class="list-group list-group-flush">
            </ul>
          </div>
        </div>

    </div>

  <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <input id="task-id" type="hidden"/>
              </div>
              <div class="form-group">
                <label for="task-name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" id="task-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Description:</label>
                <textarea class="form-control" id="task-desc"></textarea>
              </div>
            </form>
          <div id='task-created'>Created on: <em>DATE GOES HERE</em></div>
          <div id='task-due'>Due on: <em>DATE GOES HERE</em></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Cancel</button>
            <button id='update-task-btn' type="button" class="btn">Update Task</button>
          </div>
        </div>
      </div>
    </div>

  </main>
