<main class="main-page-container">

    <div class='container'>
      <form class="new-todo form-group">
        <input id="inputTask" type="text" class="form-control" placeholder="What task do you need doing?">
        <button id="getCategoryBtn" class="btn btn-submit">Categorize!</button>
      </form>

    </div>

    <div class='card-deck'>
      <div class="card">
        <h5 class="card-header">To Watch</h5>
        <div class="card-body">
          <ul id='toWatch' class="list-group list-group-flush">
          </ul>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">To Read</h5>
        <div class="card-body">
          <ul id='toRead' class="list-group list-group-flush">
          </ul>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">To Eat</h5>
        <div class="card-body">
          <ul id='toRead' class="list-group list-group-flush">
          </ul>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">To Buy</h5>
        <div class="card-body">
          <ul id='toBuy' class="list-group list-group-flush">
          </ul>
        </div>
      </div>
      <div class="card">
          <h5 class="card-header">Miscellaneous</h5>
          <div class="card-body">
            <ul id='misc' class="list-group list-group-flush">
            </ul>
          </div>
        </div>

    </div>

  </main>
