<main class='main-landing'>

  <div class="landing-container">
    <div class="landing-content">
      <h1 class="landing-title">toodleedoo</h1>
      <p class="lead">Automatically sort your tasks so you can focus on what's important. You have a a busy schedule, you work hard, you have important stuff to take care of, and you don't have time for this sort of thing. You need us. You need this app. You know it. Register, login, create more to-do's, because you have so damn much to do, and we're going to save you time.</p>
      <a href="/login#register-form" class="btn btn-lg">Create Account</a>
    </div>

  </div>


</main>
