<main class='main-landing'>

  <div class="landing-container">
    <div class="landing-content">
      <h1 class="landing-title">toodleedoo</h1>
      <p class="lead">todoify, toodoify, toodles, todont, toodoo, 2do, twicedo, dotwo, twodwo, auto2Do, automatically sort your to-dos so you can focus on whats important. You have a a busy schedule, you work hard, you have important stuff to take care of, you don't have time for this sort of thing. you need us. you need this app. you know it. signup, login, create more todo, because you have so damn much to do, you are so busy and important and have so little time we're gonna save you so much time.</p>
      <a href="/login#register" class="btn btn-lg">Create Account</a>
    </div>

  </div>


</main>
