    <main>
        <div class="container login-container">
            <div class="row">
                <form class="col-md-6 login-form" action='/login' method='POST'>
                    <h3>Log In</h3>

                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Email"/>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-login" value="Login"/>
                        </div>

                </form>
                <form class="col-md-6 register-form" action='/signup' method='POST'>
                    <h3>Register</h3>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Email"/>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-register" value="Register"/>
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
