<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/styles/signin.css" rel="stylesheet">

  </head>

  <body>

    <% include ./partials/_header %>
    <main>
        <div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Log In</h3>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password *"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn" value="Login" />
                        </div>

                </div>
                <div class="col-md-6 login-form-2">
                    <h3>Register</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn" value="Register" />
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
  </body>
</html>
