@import 'variables';


body, html {
  background-color: $background-color;
  height: 100%;
  width: 100%;
}

main {
  padding-top: 7vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: safe center;
}

.btn {
  background-color: $base-color;
  color: $accent-color;
  border-radius: 2px;
  margin: 0;
}

.form-control {
  border-radius: 2px;
}

.card {
  border-radius: 2px;
}

.main-page-container {
  margin-bottom: 6vh;
}
