@import 'partials/variables';


body {
  background-color: $background-color;
  padding-top: 7vh;
}

.btn {
  background-color: $base-color;
  color: $accent-color;
  border-radius: 2px;
  margin: 0;
}

.form-control {
  border-radius: 2px;
}

.card {
  border-radius: 2px;
}
