$base-color: #0D0D0D;
$accent-color: #595959;
$highlight-color: #A6A6A6;
$background-color: #FFFF;
$glass-background: rgba(255, 255, 255, 0.2);
$glass-blur: blur(6px);
$primary-font: 'Muli', sans-serif;;
$accent-font: 'Playfair Display', serif;

