$base-color: #0D0D0D;
$accent-color: #595959;
$highlight-color: #A6A6A6;
$background-color: #FFFF;
$glass-background: rgba(255, 255, 255, 0.15);
$glass-blur: blur(8px);
$primary-font: 'Muli', sans-serif;
$accent-font: 'Playfair Display', serif;
$text-shadow-white: 2px 2px 4px $background-color;
$google-color: #4c8bf5;
$facebook-color: #3b5998;
