body {
  background-color: #04D9C4;
  padding-top: 30px;
}

.btn {
  background-color: #202426;
  color: #A3D9C9;
  border-radius: 2px;
  margin: 0;
}

.form-control {
  border-radius: 2px;
}

.card {
  border-radius: 2px;
}

main {
  padding-top: 4em;
}

.new-todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.btn {
  margin-left: 1em;
}

.card-deck {
  margin-top: 6em;
  margin-right: 1em;
  margin-left: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 1.5em;
  min-width: 300px;
}

.card-header {
  text-align: center;
}

.card-body {
  max-height: 400px;
  overflow-y: auto;
}

.list-group-item {
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
