.logo {
  text-transform: uppercase;
}

.text-center .cover-container {
  height: 60vh;
  width: 80%;
  justify-content: center;
}

.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mastfoot {
  height: 7vh;
}
