body, html {
  background-color: #FFFF;
  height: 100%;
  width: 100%;
  font-family: "Muli", sans-serif;
}

main {
  padding-top: 7vh;
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  margin-bottom: 0;
}

.btn {
  background-color: #0D0D0D;
  color: #FFFF;
  border-radius: 2px;
  margin: 0;
}

.form-control {
  border-radius: 2px;
}

.card {
  border-radius: 2px;
}

.main-page-container {
  margin-bottom: 6vh;
}

h3 {
  color: #0D0D0D;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-container {
  width: 40%;
  min-width: 300px;
  background-color: #595959;
  padding: 2em;
}

.edit {
  float: right;
  height: 20px;
  opacity: 0.8;
}

.edit:hover {
  cursor: pointer;
  opacity: 1;
}

#update-profile .btn {
  margin-top: 1em;
  float: right;
}
