body, html {
  background-color: #04D9C4;
  height: 100%;
  width: 100%;
}

main {
  padding-top: 7vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: safe center;
}

.btn {
  background-color: #202426;
  color: #A3D9C9;
  border-radius: 2px;
  margin: 0;
}

.form-control {
  border-radius: 2px;
}

.card {
  border-radius: 2px;
}

.main-page-container {
  margin-bottom: 6vh;
}

h3 {
  color: #202426;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-container {
  width: 40%;
  min-width: 300px;
  background-color: #A3D9C9;
  padding: 2em;
}

.edit {
  float: right;
  height: 20px;
  opacity: 0.8;
}

.edit:hover {
  cursor: pointer;
  opacity: 1;
}

#update-profile .btn {
  margin-top: 1em;
  float: right;
}
