body, html {
  background-color: #FFFF;
  height: 100%;
  width: 100%;
  font-family: "Muli", sans-serif;
}

main {
  padding-top: 7vh;
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  margin-bottom: 0;
}

.btn {
  background-color: #0D0D0D;
  color: #FFFF;
  border-radius: 2px;
  margin: 0;
}

.form-control {
  border-radius: 2px;
}

.card {
  border-radius: 2px;
}

.main-page-container {
  margin-bottom: 6vh;
}

.main-login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/images/profile-background.jpg");
  background-size: cover;
}

.login-container {
  max-height: 80%;
  width: 70%;
  justify-self: center;
  align-self: safe center;
  margin-top: -7vh;
}

.login-container .btn {
  float: right;
}

.login-form {
  padding: 9%;
  background: #0D0D0D;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 12%;
  color: #FFFF;
}

.btn-login {
  background-color: #FFFF;
  color: #0D0D0D;
}

.register-form {
  padding: 9%;
  background: #595959;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.register-form h2 {
  text-align: center;
  margin-bottom: 12%;
  color: #0D0D0D;
}

.input-group-text {
  background-color: #0D0D0D;
}

.input-group-text i {
  color: #595959;
}
