body {
  background-color: #04D9C4;
}

.btn {
  background-color: #202426;
  color: #A3D9C9;
  border-radius: 2px;
}

.form-control {
  border-radius: 2px;
}

.card {
  border-radius: 2px;
}

.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-form {
  padding: 9%;
  background: #202426;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form h3 {
  text-align: center;
  margin-bottom: 12%;
  color: #A3D9C9;
}

.btn-login {
  background-color: #A3D9C9;
  color: #202426;
}

.register-form {
  padding: 9%;
  background: #A3D9C9;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.register-form h3 {
  text-align: center;
  margin-bottom: 12%;
  color: #202426;
}
