@import "partials/variables";

.fixed-bottom {
  text-align: center;
  background-color: $background-color;
  color: $accent-color;
  font-weight: 300;
  font-size: smaller;
  display: flex;
  padding: 0.5em;
}

footer p {
  margin: auto;
}
