header.main-header {
  display: flex;
}
div.logo {
  text-transform: uppercase;
  width: max-content;
  font-size: 2rem;
  background-color: orange;
  padding: 0.2rem;
}
div.user-view {
  width: auto;
  text-transform: uppercase;
}
header nav {
  width: 100%;
}
.user-view ul {
  flex-direction: row;
  justify-content: end;
}
.nav-item {
  padding: 0 5px;
}
