@import 'partials/variables';
@import 'partials/base';

.main-page-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-image: url('/images/home-background.jpg');
  background-size: cover;
}

.new-todo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin-top: 10vh;
}

.new-todo input {
  margin-right: 1em;
}

.card-deck {
  margin-top: 6em;
  margin-right: 1em;
  margin-left: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 1.5em;
  min-width: 300px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
}

.card-header {
  text-align: center;
  text-shadow: 1px 1px 5px $background-color;
}

.card-body {
  max-height: 400px;
  overflow-y: auto;
}


.list-group-item {
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: transparent;
  text-shadow: 1px 1px 5px $background-color;
}

.card ul li:hover {
  background: $highlight-color;
}

.card ul li:hover span {
  display: inline;
  cursor: pointer;
}

.checked {
  background: $highlight-color;
  text-decoration: line-through;
}

.important {
  background: $accent-color;
}

.card ul li span {
  float: right;
  display: none;
}
