@import 'partials/variables';
@import 'partials/base';

.main-page-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-image: url('/images/home-background-2.jpg');
  background-size: cover;
}

.new-todo {
  /*
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  */

  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  margin-top: 10vh;
}

.new-todo input {
  box-shadow: 5px 5px 20px $base-color;
  // margin: 0 1em;

  grid-area: 1/1/2/3;
}
#clearAll {
  grid-area: 2/1/3/2;
  margin: 2px;
}
#getCategoryBtn {
  grid-area: 2/2/3/3;
  margin: 2px;
}

.card-deck {
  margin-top: 6em;
  margin-right: 1em;
  margin-left: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 1.5em;
  min-width: 300px;
  border: none;
  background-color: $glass-background;
  backdrop-filter: $glass-blur;
  box-shadow: 5px 5px 20px $base-color;
}

.card-header {
  text-align: center;
  text-shadow: $text-shadow-white;
}

.card-body {
  max-height: 400px;
  overflow-y: auto;
}


.list-group-item {
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: transparent;
  text-shadow: $text-shadow-white;
}

.card ul li:hover {
  background: rgba(0, 0, 0, 0.15);
}

.card ul li:hover .x {
  display: inline;
}

.card ul li:hover .edit-task img {
  display: inline;
}

.x {
  display: none;
  float: right;
  margin-left: 5px;
  margin-right: -5px;
}

.star img {
  margin-top: 3px;
  height: 18px;
  float: right;
}

.edit-task img {
  margin-top: 3px;
  margin-right: 5px;
  height: 18px;
  float: right;
  display: none;
}

.checkbox {
  height: 15px;
  margin-right: 5px;
}

#taskModal .modal-content {
  border-radius: 2px;
  background-color: $background-color;
}
