@import "partials/variables";
@import "partials/base";

.main-landing {
  background-image: url('/images/landing-background.jpg');
  background-size: cover;
}

.landing-container {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.landing-content {
  width: 60%;
  margin-top: -7vh;
  text-align: center;
  justify-self: center;
  align-self: center;
  background-color: $glass-background;
  backdrop-filter: $glass-blur;
  padding: 1em;
  color: $base-color;
}

.landing-content h1 {
  color: $base-color;
}

.landing-content p {
  font-size: 2vh;
  text-shadow: 1px 1px 5px $background-color;
}

.landing-content img {
  max-height: 10em;
  margin-bottom: 3em;
}

.landing-title {
  font-size: 80px;
  font-size: 7vw;
}

.lead {
  margin-top: 2em;
  margin-bottom: 2em;
}

// .text-center .cover-container {
//   height: 60vh;
//   width: 80%;
//   justify-content: center;
//   align-content: center;
// }

// .main-block {
//   // flex-grow: 2;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }
