@import "partials/variables";
@import "partials/base";

.main-login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('/images/profile-background.jpg');
  background-size: cover;
}

#container {
  width: 60%;
  min-width: 350px;
  max-width: 500px;
  max-height: 80%;
  justify-self: center;
  align-self: center;
  overflow: scroll;
  margin-top: -7vh;
  box-shadow: 10px 10px 20px $base-color;
}

#tab-container {
  height:40px;
  width: 100%;
}

#panel {
  background-color: $glass-background;
  backdrop-filter: $glass-blur;
  height: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

#panel form {
  align-self: center;
}

#panel h2 {
  margin-bottom: 1em;
}

#panel .btn {
  margin-top: 0.5em;
}

.tab {
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: $glass-blur;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 80px;
  float: right;
  font-weight: bold;
}

#tab-container a {
  color: $base-color;
  text-shadow: $text-shadow-white;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 50%;
}

.signup {
  margin-left:8px;
}

.select {
  background-color: $glass-background;
  backdrop-filter: $glass-blur;
}

#login-form {
  min-height:200px;
  padding:10px;
  width: 80%;
}

#register-form {
  min-height:200px;
  padding:10px;
  width: 80%;
}

.btn-action {
  right: 10px;
}

.flex-container-right {
  display: flex;
  justify-content: flex-end;
}

.flex-container-center {
  display: flex;
  justify-content: center;
}
h5.or {
  margin-bottom: 5px;
}
img.icon {
  height: 25px;
  width: 25px;
}

.gf-btn {
  color: white;
  font-weight: lighter;
  border: none;
  border-radius: 0 2px 2px 0;
}
.google-button {
  background-color: $google-color;
}

.facebook-button {
  background-color: $facebook-color;
}
.rm-border {
  border: none;
}
.icon {
  width: 30px;
  height: 30px;
}

a:link{
  text-decoration: none!important;
}
