@import 'partials/variables';
@import 'partials/base';

@media (max-width: 750px) {
  div.alert-danger.alert {

    height: 60px;
    width: 98%;
    left: 1%;
  }
}
div.alert-danger {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  top: 100px;
  left: 20%;
  opacity: .8;
  width: 60%;
}

h3 {
  color: $base-color;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('/images/profile-background.jpg');
  background-size: cover;
}

.profile-container {
  margin-top: -7vh;
  justify-self: center;
  align-self: center;
  width: 40%;
  min-width: 300px;
  background-color: $glass-background;
  backdrop-filter: $glass-blur;
  padding: 2em;
}

.edit {
  float: right;
  height: 20px;
  opacity: 0.8;
}

.edit:hover {
  cursor: pointer;
  opacity: 1;
}

#update-profile .btn {
  margin-top: 1em;
  float: right;
}

