@import 'partials/variables';
@import 'partials/base';

.main-login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('/images/profile-background.jpg');
  background-size: cover;
}

.login-container{
  max-height: 80%;
  width: 70%;
  justify-self: center;
  align-self: safe center;
  margin-top: -7vh;
}

.login-container .btn {
  float: right;
}

.login-form {
  padding: 9%;
  background: $base-color;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form h2 {
  text-align: center;
  margin-bottom:12%;
  color: $background-color;
}

.btn-login {
  background-color: $background-color;
  color: $base-color;
}

.register-form {
  padding: 9%;
  background: $accent-color;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.register-form h2 {
  text-align: center;
  margin-bottom:12%;
  color: $base-color;
}

.input-group-text {
  background-color: $base-color;
}

.input-group-text i {
  color: $accent-color;
}
